.langSelector {
    min-width: 179.701px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &.alt {
        min-width: auto;
        max-width: 5rem;
        margin-top: 1.5rem;
        button {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 1.8px;
            text-transform: capitalize;
        }
        div {
            height: 15px;
        }

        @media screen and (max-width: 768px) {
            min-width: 5rem;
        }
    }
    button {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        //letter-spacing: 1.4px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        &.selected {
            opacity: 0.5;
        }
    }
    div {
        width: 1px;
        height: 20px;
    }
    &.black {
        button {
            color: #000;
        }
        div {
            background: #000;
        }
    }
    &.white {
        button {
            color: #fff;
        }
        div {
            background: #fff;
        }
    }
    &.es {
        button:first-child {
            opacity: 0.5;
        }
    }
    &.en {
        button:last-child {
            opacity: 0.5;
        }
    }
}